@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

	  
h1 {
  font-family: 'Audiowide', cursive;
  text-align: center;
}
h2 {
  font-family: 'Audiowide', cursive;
  text-align: center;
}

img {
  width: 15%;
	padding-left: 45%;
  
}

#header {
  width: 90%;
  border: 15px solid blue;
  padding: 25px;
  margin: 15px;
}

li {
  font-family: 'Special Elite', cursive;
}

ul ul {
  list-style-type: circle;
}

#ingredients {
 padding-bottom: 20px;
	padding-left: 10px;
	border: double 5px;
  border-width: 5px 5px 5px 5px;
	padding-top: 20px;
	margin: 20px;
  transition: background-color 1s;
}
@media screen and (min-width: 600px) {
#ingredients {
  background:gray;
}

#ingredients li { 
  font-family: 'Special Elite', cursive;
 border-style: double 15px;
  border-width: thick;

}

#ingredients li span {
  font-style: italic;
  color: #ADD8E6;
}
h4 {
  font-family: 'Special Elite', cursive;
}
p {
  font-family: 'Special Elite', cursive;
}
#highlight {
  background-color: #ECECEC;
}

#equipment {
   padding-bottom: 20px;
	padding-left: 10px;
	border: double 5px;
  border-width: 5px 5px 5px 5px;
	padding-top: 20px;
	margin: 20px;
}


#directions {
  padding-bottom: 20px;
	padding-left: 10px;
	border: double 5px;
  border-width: 5px 5px 5px 5px;
	padding-top: 20px;
	margin: 20px;	
}
