@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

h1 {
  font-family: 'Audiowide', cursive;
  text-align: center;
}
h2 {
  font-family: 'Audiowide', cursive;
  text-align: center;
}
#header {
  width: 90%;
  border: 15px solid blue;
  padding: 25px;
  margin: 15px;
}

li {
  font-family: 'Special Elite', cursive;
  
}

ul ul {
  list-style-type: circle;
}

#ingredients li { 
  font-family: 'Special Elite', cursive;
}

#ingredients li span {
  font-style: italic;
  color: #ADD8E6;
}
h4 {
  font-family: 'Special Elite', cursive;
}
p {
  font-family: 'Special Elite', cursive;
}
#highlight {
  background-color: #ECECEC;
}
